<div class="container">
  <mat-toolbar>
    <span>Productos</span>
  </mat-toolbar>
  <br>
  <div class="mat-elevation-z3">
    <table class="table">
      <thead class="table-block">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">precio</th>
          <th scope="col">categoria</th>
          <th scope="col">Estado</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of consulta">
          <td>{{item.id}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.descripcion}}</td>
          <td>{{item.precio}}</td>
          <td>{{item.categoria}}</td>
          <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="item.estado"></td>

          <td>
            <button (click)="ListProducto(item)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
              class="btn btn-secondary data-bs-target=" #exampleModal>Update</button>
            <button (click)="deleteProductos(item)" class="btn btn-danger  mx-3">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="mat-elevation-z8">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Productos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formProducto">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre Producto</label>
                <input type="text" formControlName="nombre" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Descripcion</label>
                <input type="text" formControlName="descripcion" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Precio</label>
                <input type="text" formControlName="precio" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Imagen</label>
                <input type="text" formControlName="imagen" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Categoria</label>
                <input type="text" formControlName="categoria" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="form-check" *ngIf="valor">
                <input class="form-check-input" formControlName="estado" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  estado
                </label>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" *ngIf="updateBoton valor" (click)="UpdateProducto()"
              class="btn btn-primary">Update</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
